<header class="jumbotron menubar">
	<div id="availproductsview" class="ProductDisplay">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{{#each heroPapers}}
					<li data-target="#myCarousel" data-slide-to="{{@index}}"></li>
				{{/each}}
			</ol>

			<div class="carousel-inner" role="listbox">
				{{#each heroPapers}}
					<div class="item">
						<div>
							<div class="row">
								<img src="{{heroImage}}" class="col-md-12" />
							</div>
						</div>

						<div>
							<p class="text_head">{{title}}</p>
							<p>{{description}}</p>
						</div>
					</div>
				{{/each}}
			</div>

			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</header>

<div class="tiles clearfix">
	<div class="row">
		{{#each gridPapers}}
			<div class="col-md-2 tile">
				<img src="{{smallImage}}" />
				<a href="/papers/{{_id}}">{{title}}</a>
			</div>
		{{/each}}
	</div>
</div>
